@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lora&family=Poppins:wght@200&family=Raleway:ital,wght@1,900&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/newsletter.css");



body {
	margin: 0px;

}

h1 {
	font-family: 'Dela Gothic One', cursive;	
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

p {
		font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}

#slogan {
	font-size: 25px;
}