.btn-shop{
	width: 200px;
	padding: 15px 20px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-family: 'Dela Gothic One', serif;
	font-weight: bold;
	border: 2px solid #528430;
	background: transparent;
	color: #528430;
	cursor: pointer;
	-webkit-transition: color 1s linear;
	}




.btn-shop:hover {
	border: 2px solid #8DB679;
	background: transparent;
	color: #8DB679;
	transition: 0.5s;
	-webkit-transition: 1s;
}

